include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="keywords" content="")
    <link rel='stylesheet' id='contact-form-7-css'  href='https://o-es.ru/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.9' type='text/css' media='all' />
    <link rel='stylesheet' id='googleFonts-css'  href='https://fonts.googleapis.com/css?family=Exo+2%3A600%7CRoboto%3A300%2C400%2C700&#038;subset=cyrillic' type='text/css' media='all' />
    <link rel='stylesheet' id='normalize-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/css/normalize.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/fonts/icomoon/style.css?ver=15' type='text/css' media='all' />
    <link rel='stylesheet' id='slicknav-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/js/slicknav/dist/slicknav.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='stylesheet-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/css/style.css?ver=107' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/css/responsive.css?ver=10' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/css/main.css?ver=14' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific.popup-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/js/magnific.popup/dist/magnific-popup.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/js/owl.carousel/assets/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='popover-css'  href='https://o-es.ru/wp-content/themes/oes_theme/library/js/popover/css/bootstrap.css?ver=1' type='text/css' media='all' />
    link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body(class=pageClass)
    block content
    <script type='text/javascript' src='https://o-es.ru/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://o-es.ru/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.9'></script>
    <script type='text/javascript' src='https://o-es.ru/wp-content/themes/oes_theme/library/js/magnific.popup/dist/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript' src='https://o-es.ru/wp-content/themes/oes_theme/library/js/owl.carousel/owl.carousel.min.js'></script>
    <script type='text/javascript' src='https://o-es.ru/wp-content/themes/oes_theme/library/js/popover/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://o-es.ru/wp-content/themes/oes_theme/library/js/slicknav/dist/jquery.slicknav.min.js'></script>
    <script type='text/javascript' src='https://o-es.ru/wp-content/themes/oes_theme/library/js/scripts.js?ver=38'></script>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/imask/5.1.5/imask.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="static/js/common.js")
    block script