#test.test.mfp-hide
  .test__hero
    h2.test__title Вы уверены, что Ваши ожидания по SEO–<br>это то, что Вам нужно?
    p.test__descr Узнайте это за 1 минуту сейчас
    a(href="#").btn.start-test Узнай сейчас

  form.test-form.ajax-form
    input(type="hidden", name="subject", value="Заявка с теста")
    .steps
      .steps__item.steps__item--1
        h2.test__title Что вам важно в SEO?

        .test-progress
          p.test-progress__ready Готово: <span class="test-progress__count">0%</span>
          .test-progress__wrap
            .test-progress__line(style="width: 0")

        .test-form__row
          .test-form__col
            label(for="traffic").test-form__label
              input(type="radio", name="important_seo", id="traffic" value="Целевой трафик на сайт").test-form__input
              span.test-form__box
              | Целевой трафик на сайт
          .test-form__col
            label(for="top10").test-form__label
              input(type="radio", name="important_seo", id="top10" value="Позиции в поисковых системах в ТОП 10").test-form__input
              span.test-form__box
              | Позиции в поисковых системах в ТОП 10

      .steps__item.steps__item--2
        h2.test__title Какое количество посетителей на сайт для Вас достаточно в месяц?

        .test-progress
          p.test-progress__ready Готово: <span class="test-progress__count">0%</span>
          .test-progress__wrap
            .test-progress__line(style="width: 0")

        .test-form__row
          .test-form__col
            label(for="count-people-1").test-form__label
              input(type="radio", name="count_people", id="count-people-1" value="5000 – 10000").test-form__input
              span.test-form__box
              | 5000 – 10000
          .test-form__col
            label(for="count-people-2").test-form__label
              input(type="radio", name="count_people", id="count-people-2" value="10 000 – 15000").test-form__input
              span.test-form__box
              | 10 000 – 15000
          .test-form__col
            label(for="count-people-3").test-form__label
              input(type="radio", name="count_people", id="count-people-3" value="15 000 – 20 000").test-form__input
              span.test-form__box
              | 15 000 – 20 000
          .test-form__col
            label(for="count-people-4").test-form__label
              input(type="radio", name="count_people", id="count-people-4" value="20 000 – 50 000").test-form__input
              span.test-form__box
              | 20 000 – 50 000
          .test-form__col
            label(for="count-people-5").test-form__label
              input(type="radio", name="count_people", id="count-people-5" value="50 000 – 100 000").test-form__input
              span.test-form__box
              | 50 000 – 100 000
          .test-form__col
            label(for="count-people-6").test-form__label
              input(type="radio", name="count_people", id="count-people-6" value="Свыше 100 000").test-form__input
              span.test-form__box
              | Свыше 100 000

      .steps__item.steps__item--3
        h2.test__title Какие позиции в поисковых системах Вашего сайта Вас бы устроили?

        .test-progress
          p.test-progress__ready Готово: <span class="test-progress__count">0%</span>
          .test-progress__wrap
            .test-progress__line(style="width: 0")

        .test-form__row
          .test-form__col
            label(for="position-1").test-form__label
              input(type="radio", name="position", id="position-1" value="ТОП 1 - 3").test-form__input
              span.test-form__box
              | ТОП 1 - 3
          .test-form__col
            label(for="position-2").test-form__label
              input(type="radio", name="position", id="position-2" value="ТОП 3 – 5").test-form__input
              span.test-form__box
              | ТОП 3 – 5
          .test-form__col
            label(for="position-3").test-form__label
              input(type="radio", name="position", id="position-3" value="ТОП 5-10").test-form__input
              span.test-form__box
              | ТОП 5-10
          .test-form__col
            label(for="position-4").test-form__label
              input(type="radio", name="position", id="position-4" value="ТОП 10-20").test-form__input
              span.test-form__box
              | ТОП 10-20
          .test-form__col
            label(for="position-5").test-form__label
              input(type="radio", name="position", id="position-5" value="50 000 – 100 000").test-form__input
              span.test-form__box
              | 50 000 – 100 000

      .steps__item.steps__item--4
        h2.test__title А данная ситуация Вас бы устроила?
        p.test__descr Посещаемость сайта в месяц 20 000 человек, заявок с сайта 1

        .test-progress
          p.test-progress__ready Готово: <span class="test-progress__count">0%</span>
          .test-progress__wrap
            .test-progress__line(style="width: 0")

        .test-form__row
          .test-form__col
            label(for="situation-yes").test-form__label
              input(type="radio", name="situation", id="situation-yes" value="Да, конечно").test-form__input
              span.test-form__box
              | Да, конечно
          .test-form__col
            label(for="situation-no").test-form__label
              input(type="radio", name="position", id="situation-no" value="Нет, конечно").test-form__input
              span.test-form__box
              | Нет, конечно

      .steps__item.steps__item--5
        h2.test__title А что скажите про такую ситуацию?
        p.test__descr Позиции Вашего сайта в ТОП 1 поисковых системах, заявок с сайта всего 1, <br>Вас это устраивает?

        .test-progress
          p.test-progress__ready Готово: <span class="test-progress__count">0%</span>
          .test-progress__wrap
            .test-progress__line(style="width: 0")

        .test-form__row
          .test-form__col
            label(for="situation-top-yes").test-form__label
              input(type="radio", name="situation_top", id="situation-top-yes" value="Да, конечно").test-form__input
              span.test-form__box
              | Да, конечно
          .test-form__col
            label(for="situation-top-no").test-form__label
              input(type="radio", name="situation_top", id="situation-top-no" value="Нет, конечно").test-form__input
              span.test-form__box
              | Нет, конечно

      .steps__item.steps__item--6
        h2.test__title Так что вы выберете для Вашего бизнеса?

        .test-progress
          p.test-progress__ready Готово: <span class="test-progress__count">0%</span>
          .test-progress__wrap
            .test-progress__line(style="width: 0")

        .test-form__row
          .test-form__col.test-form__col--100
            label(for="bussines-1").test-form__label
              input(type="radio", name="bussines", id="bussines-1" value="Позиции Вашего сайта в ТОП 1 поисковых системах, заявок с сайта всего 1").test-form__input
              span.test-form__box
              | Позиции Вашего сайта в ТОП 1 поисковых системах, заявок с сайта всего 1
          .test-form__col.test-form__col--100
            label(for="bussines-2").test-form__label
              input(type="radio", name="bussines", id="bussines-2" value="Посещаемость сайта в месяц 20 000 человек, заявок с сайта 1").test-form__input
              span.test-form__box
              | Посещаемость сайта в месяц 20 000 человек, заявок с сайта 1
          .test-form__col.test-form__col--100
            label(for="bussines-3").test-form__label
              input(type="radio", name="bussines", id="bussines-3" value="Посещаемость сайта всего 2 000 пользователей в месяц, заявок с сайта 500-800").test-form__input
              span.test-form__box
              | Посещаемость сайта всего 2 000 пользователей в месяц, заявок с сайта 500-800

      .steps__item.steps__item--7
        .steps__profile
          img(src="static/images/content/profile.jpg", alt="")
          .steps__profile-content
            h4 Муравьев Сергей
            p Директор по развитию <br>Маркетинговое агентство «O`Es»

        h2.test__title Хотите узнать, почему трафик и позиции <br>в SEO – это не то, что нужно Вашему бизнесу?

        .test-progress
          p.test-progress__ready Готово: <span class="test-progress__count">0%</span>
          .test-progress__wrap
            .test-progress__line(style="width: 0")

        .test-form__row
          .test-form__col.test-form__col--33
            .form-group
              span.form-icon
                +icon('user')
              input(type="text", name="name", placeholder="Ваше имя", required).form-field
          .test-form__col.test-form__col--33
            .form-group
              span.form-icon
                +icon('phone')
              input(type="tel", name="phone", placeholder="Ваш телефон", pattern="\\+7\\s\\([0-9]{3}\\)\\s\\d{3}[\\-]\\d{2}[\\-]\\d{2}", required).form-field
          .test-form__col.test-form__col--33
            .form-group
              input(type="submit", value="Оставить заявку").btn

      .steps__btns
        button(type="button").steps__btn.steps__btn--prev
          +icon('arrow-left')
          |  назад
        button(type="button", disabled).steps__btn.steps__btn--next
          +icon('check')
          |  далее

#test-thanks.modal.mfp-hide
  p Дело сделано! <br>Мы свяжемся с Вами в ближайшее время <br>и все расскажем