.bicon-box
  padding: 40px 40px 70px
  background-color: #fff
  border-radius: 10px
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.08)
  margin-bottom: 40px
  +r(767)
    padding: 20px 20px 35px
    margin-bottom: 20px
  p
    font-size: 21px
    line-height: 1.62
    color: $title-color
    +r(767)
      font-size: 14px
    &:last-child
      margin-bottom: 0
  &__bicon-wrap
    flex-shrink: 0
    img
      vertical-align: middle
      +r(767)
        width: 20px
  &__head
    display: flex
    align-items: center
  &--circle
    border-radius: 5px
    .bicon-box
      &__bicon-wrap
        width: 85px
        height: 85px
        margin-bottom: 20px
        border-radius: 50%
        line-height: 85px
        text-align: center
        +r(767)
          width: 42px
          height: 42px
          line-height: 42px
  &--blue
    .bicon-box
      &__bicon-wrap
        background-color: #CCEDFB
  &--green
    .bicon-box
      &__bicon-wrap
        background-color: #F5F9E5
  &--red
    .bicon-box
      &__bicon-wrap
        background-color: #FBE7EA
  &--purple
    .bicon-box
      &__bicon-wrap
        background-color: #EEE8F5
  &--orange
    .bicon-box
      &__bicon-wrap
        background-color: #ffeecd
  &--dblue
    .bicon-box
      &__bicon-wrap
        background-color: #d0dcf8
  &--light-green
    .bicon-box
      &__bicon-wrap
        background-color: #cbf8ed
  &--green2
    .bicon-box
      &__bicon-wrap
        background-color: #d4f3d9
  &--dorange
    .bicon-box
      &__bicon-wrap
        background-color: #ffc9b8
  &--bg-blue
      background-color: #CCEDFB
  &--bg-light-green
      background-color: #F5F9E5
  &--bg-red
      background-color: #FBE7EA
  &--bg-orange
      background-color: #FFF4D2
  &--bg-purple
      background-color: #FBF5FF
  &--bg-green
      background-color: #E2FAEB
  &--d-circle
    .bicon-box
      &__bicon-wrap
        position: relative
        z-index: 1
        &::before
          content: ''
          position: absolute
          top: -10px
          right: -10px
          bottom: -10px
          left: -10px
          border-radius: inherit
          background-color: inherit
          opacity: 0.4
          z-index: -1