extends template/main

block variables
  - var title = 'Главная'
  - var pageClass = ''

block content
  include pages/index/hero
  include pages/index/tasks
  include pages/index/process
  include pages/index/benefits
  include pages/index/form
  include pages/index/scheme
  include pages/index/prices
  include pages/index/cases
  include pages/index/testimonial
  include pages/index/form
  include pages/index/effect