section.benefits
  .container
    h2.section-title <span>Выгоды</span> <br>SEO <br>для бизнеса
    .benefits__container
      .benefits__col
        .bicon-box.bicon-box--bg-blue
          .bicon-box__bicon-wrap
            img(src="static/images/content/setting.svg", alt="")
          p Снижение издержек на рекламу в интернете
      .benefits__col
        .bicon-box.bicon-box--bg-light-green
          .bicon-box__bicon-wrap
            img(src="static/images/content/scheme.svg", alt="")
          p Увеличение продаж с интернет-канала
      .benefits__col
        .bicon-box.bicon-box--bg-red
          .bicon-box__bicon-wrap
            img(src="static/images/content/chronometer.svg", alt="")
          p Сокращение времени на обработку лидов за счет увеличения количества целевых 
      .benefits__col
        .bicon-box.bicon-box--bg-orange
          .bicon-box__bicon-wrap
            img(src="static/images/content/medal.svg", alt="")
          p Статус: Лидер-рынка (усиление позиции бренда).
      .benefits__col
        .bicon-box.bicon-box--bg-purple
          .bicon-box__bicon-wrap
            img(src="static/images/content/businesswoman.svg", alt="")
          p Возврат инвестиций в SEO (или длинный хвост "клиентов"). Период - 6 месяцев
      .benefits__col
        .bicon-box.bicon-box--bg-green
          .bicon-box__bicon-wrap
            img(src="static/images/content/lan.svg", alt="")
          p Увеличение охвата аудитории (расширение аудитории).