section.cases
  .container
    h2.section-title Наши <span>Кейсы</span>

    .cases-slider.horizontal-carousel
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/v-dobryj-put/")
            img(src="static/images/content/case-1.jpg", alt="")
        h3.cases-slider__title Проект <strong>"В добрый путь"</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/4rooms/")
            img(src="static/images/content/case-2.jpg", alt="")
        h3.cases-slider__title Apart-отель <strong>«4 комнаты»</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/elekon/")
            img(src="static/images/content/case-3.jpg", alt="")
        h3.cases-slider__title Проект ооо <strong>«Элекон»</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/santeh/")
            img(src="static/images/content/case-4.jpg", alt="")
        h3.cases-slider__title Проект <strong>"СантехАрсенал"</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/park-line/")
            img(src="static/images/content/case-5.jpg", alt="")
        h3.cases-slider__title Проект <strong>"Парк Лайн"</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/kavkaz/")
            img(src="static/images/content/case-6.jpg", alt="")
        h3.cases-slider__title Портал <strong>"On Kavkaz"</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/atlantida/")
            img(src="static/images/content/case-7.jpg", alt="")
        h3.cases-slider__title Проект <strong>"Atlantida"</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          a(href="https://o-es.ru/project/lavanda-med/")
            img(src="static/images/content/case-8.jpg", alt="")
        h3.cases-slider__title <strong>"Лаванда-мед"</strong>

    a(href="https://o-es.ru/project/").btn.btn--outline.cases__btn Все кейсы