section.cases
  .container
    h2.section-title Наши <span>Кейсы</span>

    .cases-slider.horizontal-carousel
      .cases-slider__item
        .cases-slider__img-wrap
          img(src="static/images/content/case-1.jpg", alt="")
        h3.cases-slider__title Проект <strong>"в добрый путь"</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          img(src="static/images/content/case-2.jpg", alt="")
        h3.cases-slider__title Apart-отель <strong>«4 комнаты»</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          img(src="static/images/content/case-1.jpg", alt="")
        h3.cases-slider__title Проект ооо <strong>«Элекон»</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          img(src="static/images/content/case-2.jpg", alt="")
        h3.cases-slider__title Проект <strong>"в добрый путь"</strong>
      .cases-slider__item
        .cases-slider__img-wrap
          img(src="static/images/content/case-1.jpg", alt="")
        h3.cases-slider__title Проект <strong>"в добрый путь"</strong>

    a(href="https://o-es.ru/project/").btn.btn--outline.cases__btn Все кейсы