section.effect
  .container
    h2.section-title <span>SEO</span> <br>эффективно работает <br>с каналами
    .effect__left
      .effect__col
        .bicon-box.bicon-box--blue
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/effect-1.svg", alt="")
            h3.bicon-box__title Контекстная реклама
          p Контекстная реклама – это размещение Ваших рекламных объявлений на страницах выдачи поисковых систем (по ключевым запросам) и тематических площадок.
      .effect__col
        .bicon-box.bicon-box--red
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/effect-2.svg", alt="")
            h3.bicon-box__title SERM (Репутация)
          p Репутационный маркетинг – совокупность технологий управления репутацией компании или персоны.
      .effect__col
        .bicon-box.bicon-box--green
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/effect-3.svg", alt="")
            h3.bicon-box__title SMM
          p SMM (Social media marketing) – совокупность инструментов для привлечения трафика на сайт и формирования репутации компании через социальные платформы.
      .effect__col
        .bicon-box.bicon-box--purple
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/effect-4.svg", alt="")
            h3.bicon-box__title Контент–маркетинг
          p Контент-маркетинг от O`Es – это механизм заботы о вашей целевой аудитории. Выбирайте естественное и долговечное продвижение, не рискуйте репутацией бренда!

    .effect__right
      h2.section-title <span>SEO</span> <br>эффективно работает <br>с каналами

      .effect__content
        h3 Комплексный маркетинг
        p Ключевое преимущество Landing Page – это возможность достигать максимальной конверсии и управлять поведением аудитории.
      a(href="#").btn.open_form Оставить заявку