section.helpful
  .container
    h2.section-title.text-center Это может быть <span>полезным</span>

    .helpful-list
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--blue
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-1.svg", alt="")
            h3.bicon-box__title Продвижение сайта по ключевым словам
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--purple
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-2.svg", alt="")
            h3.bicon-box__title Продвижение интернет-магазина
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--light-green
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-3.svg", alt="")
            h3.bicon-box__title SEO-аудит
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--orange
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-4.svg", alt="")
            h3.bicon-box__title SEO-Консалтинг
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--red
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-5.svg", alt="")
            h3.bicon-box__title Продвижение сайта в регионах России
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--dblue
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-6.svg", alt="")
            h3.bicon-box__title Продвижение новых сайтов
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--green2
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-7.svg", alt="")
            h3.bicon-box__title SEO-Гарантии
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--blue
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-8.svg", alt="")
            h3.bicon-box__title Продвижение сайта по тематикам
      .helpful-list__item
        a(href="#").bicon-box.bicon-box--circle.bicon-box--d-circle.bicon-box--dorange
          .bicon-box__head
            .bicon-box__bicon-wrap
              img(src="static/images/content/helpful-9.svg", alt="")
            h3.bicon-box__title Продвижение сайта по трафику