section.hero(style="background-image: url(static/images/content/hero.jpg)")
  .container
    .hero__content
      p Результативное SEO-продвижение сайтов для бизнеса!
      h1 Вы уверены<br>что Ваши ожидания по SEO <br>это то что Вам нужно?
      
      .hero__btn-wrap
        a(href="#").btn.open_test узнай сейчас
        +icon('arrow-curv')
  img(src="static/images/content/hero-img.svg", alt="").hero__img