section.prices
  .container
    h2.section-title.text-center Типы продвигаемых сайтов <br><span>и цены</span>

    .prices-list
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Сайты-визитки
          p.prices-list__price от <span>45 000</span> руб.
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Лэндинги
          p.prices-list__price от <span>50 000</span> руб.
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Корпоративные сайты
          p.prices-list__price от <span>50 000</span> руб.
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Интернет-магазины
          p.prices-list__price от <span>55 000</span> руб.
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Каталоги
          p.prices-list__price от <span>55 000</span> руб.
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Блоги
          p.prices-list__price от <span>60 000</span> руб.
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Новостные и другие порталы
          p.prices-list__price от <span>75 000</span> руб.
      a(href="#").prices-list__item
        .prices-list__inner
          h3.prices-list__title Агрегаторы
          p.prices-list__price от <span>100 000</span> руб.