section.process(style="background-image: url(static/images/content/process-bg.jpg)")
  .container
    h2.section-title.text-center <span>Бизнес процесс SEO</span> <br>В O`Es Marketing Agency

    .process-list
      .process-list__item.process-list__item--1
        h3.process-list__title <span>Этап 1.</span> Диагностика
        .process-list__content
          h4 Результат:
          ul
            li Стратегия продвижения сайта
      .process-list__item.process-list__item--2
        h3.process-list__title <span>Этап 2.</span> Разработка рекомендаций на основе диагностики
        .process-list__content
          h4 Результат:
          ul
            li ТЗ по техническому аудиту сайта
            li ТЗ по коммерческому аудиту сайта
            li ТЗ по текстовой оптимизации страниц сайта
            li ТЗ по улучшению удобства сайта
            li ТЗ по улучшению регионального ранжирования сайта
      .process-list__item.process-list__item--3
        h3.process-list__title <span>Этап 3.</span> Согласование рекомендаций
        .process-list__content
          h4 Результат:
          ul
            li Утвержденные рекомендации
            li ТЗ переданы на реализацию
      .process-list__item.process-list__item--4
        h3.process-list__title <span>Этап 4.</span> Внедрение рекомендаций
        .process-list__content
          h4 Результат:
          ul
            li Оптимизированный сайт под требования поисковых систем
            li Оптимизированный сайт, удобный для пользователя
            li Оптимизированы продающие качества сайта
      .process-list__item.process-list__item--5
        h3.process-list__title <span>Этап 5.</span> Развитие сайта
        .process-list__content
          h4 Результат:
          ul
            li Рост трафика
            li Рост заявок
            li Оптимизированы продающие качества сайта
      .process-list__item.process-list__item--6
        h3.process-list__title <span>Этап 6.</span> Оценка достигнутых результатов
        .process-list__content
          h4 Результат:
          ul
            li Отчет по договору
            li Акт выполненных работ и результатов
            li Пролонгация контракта
      .process-list__item.process-list__item--7
        h3.process-list__title <span>Этап 7.</span> Реализация нового контракта
        .process-list__content
          h4 Результат:
          ul
            li Удержание достигнутых результатов
            li Рост результатов
            li Пролонгированный договор с новыми целями

    .process-line
      <svg id="path" width="500" height="500" viewBox="0 0 488 476" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M49.8438 95.1656L244 1.6649l194.156 93.5007L486.109 305.26l-134.36 168.482H136.251L1.8912 305.26 49.8438 95.1656z" stroke="#D90E30" stroke-width="3"/></svg>
      .process-line__item.process-line__item--1
        span.process-line__line
      .process-line__item.process-line__item--2
        span.process-line__line
      .process-line__item.process-line__item--3
        span.process-line__line
      .process-line__item.process-line__item--4
        span.process-line__line
      .process-line__item.process-line__item--5
        span.process-line__line
      .process-line__item.process-line__item--6
        span.process-line__line
      .process-line__item.process-line__item--7
        span.process-line__line

//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")