section.process(style="background-image: url(static/images/content/process-bg.jpg)")
  .container
    h2.section-title.text-center <span>Бизнес процесс SEO</span> <br>В O`Es Marketing Agency

    .process__wrap

      .process-list
        .process-list__item.process-list__item--1
          h3.process-list__title <span>Этап 1.</span> Диагностика
            +icon('arrow-down')
          .process-list__content
            h4 Результат:
            ul
              li Стратегия продвижения сайта
        .process-list__item.process-list__item--2
          h3.process-list__title <span>Этап 2.</span> Разработка рекомендаций на основе диагностики
            +icon('arrow-down')
          .process-list__content
            h4 Результат:
            ul
              li ТЗ по техническому аудиту сайта
              li ТЗ по коммерческому аудиту сайта
              li ТЗ по текстовой оптимизации страниц сайта
              li ТЗ по улучшению удобства сайта
              li ТЗ по улучшению регионального ранжирования сайта
        .process-list__item.process-list__item--3
          h3.process-list__title <span>Этап 3.</span> Согласование рекомендаций
            +icon('arrow-down')
          .process-list__content
            h4 Результат:
            ul
              li Утвержденные рекомендации
              li ТЗ переданы на реализацию
        .process-list__item.process-list__item--4
          h3.process-list__title <span>Этап 4.</span> Внедрение рекомендаций
            +icon('arrow-down')
          .process-list__content
            h4 Результат:
            ul
              li Оптимизированный сайт под требования поисковых систем
              li Оптимизированный сайт, удобный для пользователя
              li Оптимизированы продающие качества сайта
        .process-list__item.process-list__item--5
          h3.process-list__title <span>Этап 5.</span> Развитие сайта
            +icon('arrow-down')
          .process-list__content
            h4 Результат:
            ul
              li Рост трафика
              li Рост заявок
        .process-list__item.process-list__item--6
          h3.process-list__title <span>Этап 6.</span> Оценка достигнутых результатов
            +icon('arrow-down')
          .process-list__content
            h4 Результат:
            ul
              li Отчет по договору
              li Акт выполненных работ и результатов
              li Пролонгация контракта
        .process-list__item.process-list__item--7
          h3.process-list__title <span>Этап 7.</span> Реализация нового контракта
            +icon('arrow-down')
          .process-list__content
            h4 Результат:
            ul
              li Удержание достигнутых результатов
              li Рост результатов
              li Пролонгированный договор с новыми целями

      .process-line
        <svg id="path" xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 487.5 475.7"><path d="M242.3 1.7l194.6 92.6 48.9 209.9-133.6 169-215.5 1L1.6 306.4l47-210.3L242.3 1.7z" fill="none" stroke="#d90e30" stroke-width="3"/></svg>
        .process-line__item.process-line__item--1
        .process-line__item.process-line__item--2
        .process-line__item.process-line__item--3
        .process-line__item.process-line__item--4
        .process-line__item.process-line__item--5
        .process-line__item.process-line__item--6
        .process-line__item.process-line__item--7

    .text-center
      a(href="#").btn.open_form оставить заявку