section.scheme
  .container
    h2.section-title.text-center <span>Схема</span> работы

    .scheme-list__wrap
      //- <svg id="scheme-list__line" xmlns="http://www.w3.org/2000/svg" width="1172" height="770" viewBox="0 0 1172 770"><style>.st0{fill:none;stroke:#d90e30}</style><path class="st0" d="M1 10v1-1zm0 0v154.1c0 11 9 19.9 20 19.9h1130c11.1 0 20 9 20 20v260c0 11-8.9 20-20 20H21c-11 0-20 8.9-20 19.9v122.2m0 .1V625v1.2z"/><path class="st0" d="M1171 579.3v170c0 11-8.9 20-20 20H21c-11 0-20-8.9-20-19.9V595.3m0 0v1-1z"/></svg>
      //- <svg id="scheme-list__line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1072 800"><path d="M.5 0v140.6c0 10.9 8.9 19.7 19.8 19.7h1031.5c9.3 0 16.8 7.5 16.8 16.8v237.3c0 9.3-7.5 16.8-16.8 16.8H20.3C9.4 431.2.5 440 .5 450.9v224c0 10.9 8.9 19.7 19.8 19.7h1031.5c10.9 0 19.8-8.8 19.8-19.8V526" fill="none" stroke="#D90E30" stroke-width="3" stroke-miterlimit="10"/></svg>
      <svg id="scheme-list__line" xmlns="http://www.w3.org/2000/svg" width="1170" height="780" viewBox="0 0 1074.1 696.1"><path d="M1.5 0v140.6c0 10.9 8.9 19.7 19.8 19.7h1031.5c9.3 0 16.8 7.5 16.8 16.8v237.3c0 9.3-7.5 16.8-16.8 16.8H21.3c-10.9 0-19.8 8.8-19.8 19.7v224c0 10.9 8.9 19.7 19.8 19.7h1031.5c10.9 0 19.8-8.8 19.8-19.8V526" fill="none" stroke="#D90E30" stroke-width="3" stroke-miterlimit="10"/></svg>
      .scheme-list
        .scheme-list__item.scheme-list__item--1
          .scheme-list__step 01 <span>/ шаг</span>
          p Вы оставляете нам свой запрос и координаты для связи
        .scheme-list__item.scheme-list__item--2
          .scheme-list__step 02 <span>/ шаг</span>
          p Мы с Вами связываемся, уточняем запрос и берем/уточняем первичную информацию для проведения экспресс-анализа Вашей ниши, Вашего сайта и конкурентов
        .scheme-list__item.scheme-list__item--3
          .scheme-list__step 03 <span>/ шаг</span>
          p Проводим встречу, на которой разбираем  текущую ситуацию и цели бизнеса, цели продвижения, желаемый результат и собираем дополнительную информацию для подготовки персонального решения для бизнеса.
        //- .scheme-list__row
        .scheme-list__item.scheme-list__item--4
          .scheme-list__step 04 <span>/ шаг</span>
          p Вы готовим решение с учетом Вашей текущей ситуации и целей бизнеса
        .scheme-list__item.scheme-list__item--5
          .scheme-list__step 05 <span>/ шаг</span>
          p Разбираем/обсуждаем и согласовываем окончательное решение вместе с вами (при необходимости - корректируем)
        .scheme-list__item.scheme-list__item--6
          .scheme-list__step 06 <span>/ шаг</span>
          p Согласовываем параметры соглашения и заключаем договор
        .scheme-list__item.scheme-list__item--7
          .scheme-list__step 07 <span>/ шаг</span>
          p Формируем проектную команду и знакомим с руководителем и основными членами проекта  с нашей стороны.
        .scheme-list__item.scheme-list__item--8
          .scheme-list__step 08 <span>/ шаг</span>
          p Начинаем работать по плану проекта
        .scheme-list__item.scheme-list__item--9
          .scheme-list__step 09 <span>/ шаг</span>
          p Подводим совместно с Вами промежуточные итоги и, при необходимости, вносим уточнения в содержание и последовательность работ