section.tasks
  .container
    .tasks__container
      .tasks__card-list
        .tasks__card-list-item
          .bicon-box.bicon-box--circle.bicon-box--blue
            .bicon-box__bicon-wrap
              img(src="static/images/content/line-chart.svg", alt="")
            p Вывод сайта в выдаче поисковых систем в ТОП-10
        .tasks__card-list-item
          .bicon-box.bicon-box--circle.bicon-box--red
            .bicon-box__bicon-wrap
              img(src="static/images/content/pie-chart-2.svg", alt="")
            p Низкий уровень конверсии (мало лидов от числа обращений)
        .tasks__card-list-item
          .bicon-box.bicon-box--circle.bicon-box--green
            .bicon-box__bicon-wrap
              img(src="static/images/content/pie-chart.svg", alt="")
            p Увеличение трафика на сайт с поисковых систем
        .tasks__card-list-item
          .bicon-box.bicon-box--circle.bicon-box--purple
            .bicon-box__bicon-wrap
              img(src="static/images/content/magnifying-glass.svg", alt="")
            p Рост узнаваемости бренда. низкий вклад

      .tasks__content
        h2.section-title <span>Задачи</span> <br>для решения которых может быть использовано SEO
        p <strong>SEO-продвижение</strong> – это комплекс мер по внутренней и внешней оптимизации сайта, проводимые с целью достижения ТОПовых позиций по ключевым запросам в результатах выдачи поисковых систем.