section.testimonial
  .container
    h2.section-title <span>Отзывы</span> <br>и Благодарности

    .testimonial-slider.gallery
      .testimonial-slider__item
        a(href="static/images/content/testimonial-1.jpg")
          img(src="static/images/content/testimonial-1.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/testimonial-2.jpg")
          img(src="static/images/content/testimonial-2.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/testimonial-3.jpg")
          img(src="static/images/content/testimonial-3.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/testimonial-2.jpg")
          img(src="static/images/content/testimonial-2.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/testimonial-1.jpg")
          img(src="static/images/content/testimonial-1.jpg", alt="")