section.testimonial
  .container
    h2.section-title <span>Отзывы</span> <br>и Благодарности

    .testimonial-slider.gallery
      .testimonial-slider__item
        a(href="static/images/content/Atlantida.jpg")
          img(src="static/images/content/Atlantida-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/Blagodarnost-Mersedes.jpg")
          img(src="static/images/content/Blagodarnost-Mersedes-211x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/BrendUp.jpg")
          img(src="static/images/content/BrendUp-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/joico-3.jpg")
          img(src="static/images/content/joico-3-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/lavanda-1.jpg")
          img(src="static/images/content/lavanda-1-215x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/profit.jpg")
          img(src="static/images/content/profit-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/russkarton.jpg")
          img(src="static/images/content/russkarton-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/skat-1.jpg")
          img(src="static/images/content/skat-1-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/Sovkombank.jpg")
          img(src="static/images/content/Sovkombank-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/techa1.jpg")
          img(src="static/images/content/techa1-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/tipogr.jpg")
          img(src="static/images/content/tipogr-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/TZGM.jpg")
          img(src="static/images/content/TZGM-212x300.jpg", alt="")
      .testimonial-slider__item
        a(href="static/images/content/zakaz.jpg")
          img(src="static/images/content/zakaz-212x300.jpg", alt="")